/* overall Body styling */
body{
	background-color: lightblue;
	padding: 0px 0px;
  max-width: 1000px;
  margin: 0 auto;

}
h1{
  text-align: center;
}
h3{
  padding: 5px;
}
p{
  text-align: justify;;
  padding: 5px 15px;
  font-family: calibri;
}
a{
  color: red;
}
/* header section styling */
.header{
  background-image:url('../img/everest.jpeg');
  padding: 0px 10px;
  position: fixed;
  width: 100%;
  display: block;
  max-width: 1000px;
  margin: auto;
  z-index: 1;
  border-radius: 15px;
}

.logo{
		text-align:left;
		color: white;
		padding:10px 0px 0px 10px;
		height: 45px;
		width: 100%;
		font-size: 25px;
		font-weight: bold;
    position: center;
}
.link{
  position: relative;
  margin-top: -35px;
  margin-right: 200px;
  float: right;
}

.link a img{
  transition: 1s ease;
  margin: 5px;
}
.link a img:hover {
  background-color: white;
  color: red;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  transition: 1s ease;
}
.logo a{
  color: white;
  text-decoration: none;
}
.logo a h2:hover {
  background-color: inherit;
  color: red;
  display: inline;
  position: fixed;
}
.visit{
  float: right;
  position: absolute;
  top: 10px;
  right: 30px;
  width: 150px;
  height: 40px;
}
.visit a img{
  border-radius: 15px;
}
.visit a img:hover {
  background-color: inherit;
  opacity: 65%;
}
.right{
  float: right;
  margin-right: 10px;
}
/*Navigation part*/
nav{
	padding:10px 10px 10px 10px;
  width: 1000px;
}
nav ul{ display: inline;
	list-style-type: none;
	padding: 5px;
	width: 100%;
}
li{	
	float: left;
	color: white;
}
nav a{	
	color: white;
	padding:3px 10px;
  margin:1px;
	text-decoration: none;
	border: solid 1px white;
	border-radius: 25px;
}
li a:hover:not(.active) {
  background-color: rgba(125, 111, 110, 0.25);
  border-radius: 20px;
  color: red;

}
.active {
  background-color: red;
}


/* style for video */
.banner{
  margin: 10px;
  position: absolute;
  top: 85px;
  width: 1000px;
  height: 500px;
  text-align: center;
}
.banner video{
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  height: auto;
  /* pointer-events: none; */
  border-radius: 25px;
  opacity: 100%;
}
.banner .content{
  position: relative;
  top: -250px;
  right: -100px;
  width: 800px;
  height: 150px;
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px black;
  text-align: center;
  background-color: rgb(8, 8, 8, .4)
}
/*Style for main content in index*/

.title1{
  margin: 10px;
  position: absolute;
  top: 680px;
  background-color: inherit;
  text-align: center;
}
.titlenews{
  margin: 10px;
  position: absolute;
  top: 120px;
  background-color: inherit;
  text-align: center;
}

.main1{
  position: relative;
  top: 730px;
  width: 1000px;
  height: 300px;
  text-align: center;
  background-color: inherit;
  /*border: solid 1px white;*/
}
.maintodo{
  position: relative;
  top: 420px;
  width: 1000px;
  height: 300px;
  text-align: center;
  background-color: inherit;
  /*border: solid 1px white;*/
}
.mainnews{
  position: relative;
  top: 20px;
  width: 1000px;
  height: 300px;
  text-align: center;
  background-color: inherit;
  /*border: solid 1px white;*/
}
/* syyle 1*/
.column{
  width: 33.33%;
  float: left;
  padding: 0px;
  margin: 0px 0px 20px 0px;
}
.column img:hover{
  border-radius: 10px;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}
/*style 2*/
.columnimg{
  width: 40%;
  float: left;
  padding: 10px 0px;
  margin: 0px 0px 8px 0px;
}
.columnimg img{
  padding: 9px;
  border-radius: 25px;
}
.columntext{
  width: 58%;
  height: 300px;
  float: right;
  margin: 10px;
  color: white;
  border-radius: 15px;
  background-color: #197A58;
  position: relative;
  top: 12px;
  right: -5px;
}
.columntext h2{
  text-align: left;
  padding: 10px 10px;
}

.columnnews{
  width: 32%;
  float: left;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  background-color: #cfe6d5;
  margin: 5px;
}
.columnnews h3{
  background-color: #32afa9;
  padding: 5px;
  padding: 10px 0px;

}

.footer{
  background-color: #40525C;
  position: absolute;
  top: 1450px;
  height: 60px;
  width: 100%;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.footer p{
  text-align: center;;
}
.footerplace{
  background-color: #40525C;
  position: absolute;
  top: 1820px;
  height: 60px;
  width: 100%;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.footerplace p{
  text-align: center;;
}
.footertodo{
  background-color: #40525C;
  position: absolute;
  top: 2770px;
  height: 60px;
  width: 100%;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.footertodo p{
  text-align: center;;
}
.footernews{
  background-color: #40525C;
  position: absolute;
  top: 1120px;
  height: 60px;
  width: 100%;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.footernews p{
  text-align: center;;
}
.nav{
  float: left;
}
.nav a{
  color: white;
  border:1px solid white;
  text-decoration: none;
  padding: 2px 3px;
}
.right a img{
  transition: 1s ease;
  margin: 5px;
}
.right a img:hover {
  background-color: white;
  color: red;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  transition: 1s ease;
}
.place{
  position: absolute;
  width: 1020px;
  height: 500px;
  top: 95px;
}
.place img{
  border-radius: 15px;
  margin: 0px 0px;
}
/* See More Button Design*/
.btnmore{
  position: absolute;
  top: 2700px;
  text-align: center;
  width:1000px;
}
.btnmorenews{
  position: absolute;
  top: 1050px;
  text-align: center;
  width:1000px;
}
.btn {
  padding: 12px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 10px;
  font-size: 18px;
}

/* Contact page styling*/
.contact{
  
}
.contact h1{
  text-align: left;
  padding: 5px 15px;
}
.contact h2{
  padding: 5px 15px;
}
.contact p{
  padding: 5px 25px;
}
fieldset{
  padding: 10px;
  font-weight: bold;
  background-color: #c7d9c9;
}
legend{
  font-size: 20px;
}
.input{
  padding: 5px;
  width: 90%;
  border-radius: 5px;
}
.sub{
  padding: 7px;
  background-color: green;
  color: white;
  border-radius: 10px;
}
.text11{
  padding: 5px;
  width: 90%;
  height: 100px;
  border-radius: 5px;
}
.field{
  padding: 5px 15px;
}
.footer11{
  padding: 10px;
  color: white;
  width: 100%;
  display: flex;
}

.f21{
flex: 1;
height: 170px;
background-color: #53788E;
padding:0px 0px 5px 5px;
margin: 0px;
border-radius: 15px;    
}
.f22{
flex: 1;
background-color: #53788E;
height: 170px;
padding:0px 0px 5px 5px;
margin: 0px;
border-radius: 15px;    
}

